@use 'bootstrap/scss/bootstrap' as *;
@use '../global/variables';

.header {
  padding: 1rem 1rem;
  transition: all 0.3s ease-in-out;

  @include media-breakpoint-up(lg) {
    padding: 3rem 1rem;
  }

  .logo {
    width: 150px;

    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .navbar-toggler {
    padding: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-nav {
    gap: 1rem;
    @include media-breakpoint-down(lg) {
      background-color: variables.$blush;
      margin-top: 1rem;
      border-radius: 6px;
      padding: 0.5rem;
      text-align: center;
      gap: 0.5rem;
    }
  }

  .btn {
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &.scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 9000;
    position: sticky;
    top: 0;
    padding: 1rem;
  }
}
